<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DALL_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DALL_UI.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#2D2727</value>
            </setting>
            <setting name="SecondaryBaseColor" serializeAs="String">
                <value>#576CBC</value>
            </setting>
            <setting name="InteractiveColor" serializeAs="String">
                <value>#A5D7E8</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>#F5F2E7</value>
            </setting>
            <setting name="SpilitterWidth" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MarginSet" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SizeSet" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="UIKEY" serializeAs="String">
                <value />
            </setting>
        </DALL_UI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>